.App {
  text-align: center;
  font-family: 'Garamond';
}

.headings{
  font-family:'RochesterT';
  color:white;
  font-size: 1.50em;
}

.sidebar{
  color: #cec09e;
   
}

.titles{
  color:"#cec09e"
}

@font-face {
  font-family: 'RochesterT';
  src: local('MyFont'), url(./RochesterTwee.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.links{
  font-size: 16px;
  text-align:"center";
  margin-top:"2%"; 
  text-decoration:"none"; 
  display:"block";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  min-height: 100vh !important;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #030303;
}

